body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.center-in-page {
  max-width: 960px;
  margin: 0 auto;
}
#header {
  font-size: 20px;
  text-align: center;
}
#header .site-name {
  display: none;
}
#header .site-url {
  display: none;
}
#header .site-slogan {
  font-size: 50px;
  line-height: 100px;
}
#demo-header {
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  background-color: #EEEEEE;
  margin-top: 10px;
  margin-bottom: 30px;
}
.panel {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.panel .header {
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  padding-left: 15px;
  padding-top: 10px;
}
.panel .body {
  font-size: 16px;
}
#navigation {
  font-size: 16px;
  line-height: 40px;
}
#navigation .repo-description {
  display: inline;
}
.code-file .header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.code-file .header .name {
  line-height: 40px;
}
.code-file .header .path {
  font-size: 14px;
  color: #CCC;
  font-weight: normal;
  line-height: 30px;
}
.code-file .content {
  margin-bottom: 0;
}
.github {
  padding: 20px 0;
  font-size: 16px;
}
.github .github-icon img {
  height: 20px;
}
.github .repo-url {
  padding-left: 15px;
  line-height: 20px;
}
.github .repo-issues {
  padding-left: 15px;
  line-height: 20px;
}
