<html>
<head>
    <title>angularjs1-component-demo - 数组网</title>
    <link rel="stylesheet" href="../../css/site.css">
    <link rel="stylesheet" href="../../css/github-markdown-2.10.0.css">
    <script src="../../js/showdown-1.8.6.min.js"></script>
</head>
<body>

<div id="demo-header">
    <div class="site-slogan">angularjs1-component-demo</div>
</div>

<div class="github center-in-page markdown-body">
    <span class="repo-url">
        <a href="https://github.com/freewind-demos/angularjs1-component-demo">打开Github项目地址</a>
    </span>
    <span class="repo-issues">
        <a href="https://github.com/freewind-demos/angularjs1-component-demo/issues?q=">有疑问上Github Issues上讨论</a>
    </span>
</div>

<div id="readme" class="center-in-page">
    <div class="markdown markdown-body">
        AngularJS1 Component Demo
=========================

AngularJS 1.5中引入了`component`，它可以看作是对`directive`的一种简化，让我们更方便的以组件方式来组织我们的页面。

directive是AngularJS的核心，功能非常强大，使用它也完全可以实现`component`的效果，但是我们必须在使用时注意一些细节，才能避免一些意外问题。

在这个Demo中，我们同时使用directive和component实现了完全一样的`counter`组件，你可以看到它们之间的区别并不是很大，只是component版本中要比directive中少了一些配置。

那些多出来的配置可以看作是固定写法，那么使用一个`component`概念既可以减少我们的输入（以及出错的可能），也同时把组件这种特别的directive与其它的directive区分开。

```
npm install
open index.html
```

![demo](./images/demo.jpg)

Resources
---------

- 强烈建议阅读这篇文章： &lt;https://toddmotto.com/exploring-the-angular-1-5-component-method/&gt;    </div>
</div>

<div class="code-file center-in-page panel markdown-body">
    <div class="header">
        <span class="parent-path"></span>
        <span class="name">
            <a href="https://github.com/freewind-demos/angularjs1-component-demo/blob/master/package.json" target="_blank" title="show github file">package.json</a>
        </span>
    </div>
    <div class="body">
        <pre class="content"><code class="json">{
  &quot;dependencies&quot;: {
    &quot;angular&quot;: &quot;^1.7.3&quot;
  }
}
</code></pre>
    </div>
</div>
<div class="code-file center-in-page panel markdown-body">
    <div class="header">
        <span class="parent-path"></span>
        <span class="name">
            <a href="https://github.com/freewind-demos/angularjs1-component-demo/blob/master/index.html" target="_blank" title="show github file">index.html</a>
        </span>
    </div>
    <div class="body">
        <pre class="content"><code class="html">&lt;html&gt;
&lt;head&gt;
    &lt;script src=&quot;./node_modules/angular/angular.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./app.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div ng-app=&quot;app&quot;&gt;
    &lt;div ng-controller=&quot;MyController&quot;&gt;
        &lt;h3&gt;Component Counter&lt;/h3&gt;
        &lt;component-counter count=&quot;count&quot;&gt;&lt;/component-counter&gt;
    &lt;/div&gt;
    &lt;hr/&gt;
    &lt;div ng-controller=&quot;MyController&quot;&gt;
        &lt;h3&gt;Directive Counter&lt;/h3&gt;
        &lt;directive-counter count=&quot;count&quot;&gt;&lt;/directive-counter&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
</div>
<div class="code-file center-in-page panel markdown-body">
    <div class="header">
        <span class="parent-path"></span>
        <span class="name">
            <a href="https://github.com/freewind-demos/angularjs1-component-demo/blob/master/app.js" target="_blank" title="show github file">app.js</a>
        </span>
    </div>
    <div class="body">
        <pre class="content"><code class="js">const app = angular.module(&#39;app&#39;, [])
app.controller(&#39;MyController&#39;, function ($scope) {
    $scope.count = 5
})

app.component(&#39;componentCounter&#39;, {
    template: `
    &lt;div&gt;
        &lt;span&gt;Number: {{ $ctrl.count }}&lt;/span&gt;
        &lt;button ng-click=&quot;$ctrl.increase()&quot;&gt;+&lt;/button&gt;
        &lt;button ng-click=&quot;$ctrl.decrease()&quot;&gt;-&lt;/button&gt;
    &lt;/div&gt;
    `,
    bindings: {
        count: &#39;=&#39;
    },
    controller: function () {
        this.increase = function () {
            this.count += 1
        }
        this.decrease = function () {
            this.count -= 1
        }
    }

})

app.directive(&#39;directiveCounter&#39;, function () {
    return {
        restrict: &#39;E&#39;,
        template: `
         &lt;div&gt;
             &lt;span&gt;Number: {{ $ctrl.count }}&lt;/span&gt;
             &lt;button ng-click=&quot;$ctrl.increase()&quot;&gt;+&lt;/button&gt;
             &lt;button ng-click=&quot;$ctrl.decrease()&quot;&gt;-&lt;/button&gt;
         &lt;/div&gt;
         `,
        scope: {},
        bindToController: {
            count: &#39;=&#39;
        },
        controller: function () {
            this.increase = function () {
                this.count += 1
            }
            this.decrease = function () {
                this.count -= 1
            }
        },
        controllerAs: &#39;$ctrl&#39;
    }
})</code></pre>
    </div>
</div>

<div class="github center-in-page markdown-body">
    <span class="repo-url">
        <a href="https://github.com/freewind-demos/angularjs1-component-demo">打开Github项目地址</a>
    </span>
    <span class="repo-issues">
        <a href="https://github.com/freewind-demos/angularjs1-component-demo/issues?q=">有疑问上Github Issues上讨论</a>
    </span>
</div>

<script src="../../js/site.js"></script>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274292847'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274292847' type='text/javascript'%3E%3C/script%3E"));

</script>
</body>
</html>